body {
    margin: 0;
    /* background: rgb(187, 187, 90); */
    background-image: url('grass.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    color: papayawhip;
}

h1 {
    margin: 0;
    font-size: 4em;
}

.brief {
    display: flex;
    font-size: 1.5em;
}

p {
    margin: 0;
}

button {
    margin: 0 10px;
    width: 100px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background: rgba(0, 162, 255, 0.8);
    font-weight: bold;
    color: rgb(230, 230, 230);
}

.score {
    /* background-color: rgb(168, 168, 88); */
    font-size: 2em;
    border-radius: 5px;
    /* height: 50%; */
    padding: 0 10px;

}

.game {
    width: 80%;
    height: 400px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    /* gap: 5px; */
    /* border: 1px solid black; */
    /* justify-items: center; */
    align-content: space-between;
    align-items: flex-end;
}

.hole {
    background-image: url("hole.png");
    background-position: bottom;
    background-size: 75%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    position: relative;
    /* z-index: 2; */
    overflow: hidden;
}

.mole {
    background-image: url("mole.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 75%;
    height: 75%;
    position: absolute;
    left: 15%;
    top: 200px;
    /* transform: translateY(200%); */
    /* z-index: -1; */
    transition: top .75s;
}

